
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# R Environmet
.Renviron

# Directories with big files
preprocess/derepFs_8859_v2.rds
preprocess/derepRs_8859_v2.rds
filtered/
clean_data/taxonomy/sh_general_release_dynamic_s_25.07.2023_dev.fasta
clean_data/taxonomy/sh_general_release_dynamic_s_25.07.2023.fasta
/.quarto/
